//Fonts
$mainFont: 'Libre Baskerville', serif;

//Text color
$textColor: #2A3F57;
$whiteColor: #fff;
$headerC: #0b1f34;
$background: #0E1F32;

//Media queries
$sm: 'min-width: 576px';
$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width: 1200px';
