* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

input {
    outline:none;
}

img {
    width: 100%;
}
