.htaccess

wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/wp-cache-config.php
wp-content/advanced-cache.php
wp-content/uploads/wc-logs/

node_modules/

wp-config.php

*.log
*.sql
*.sqlite
*.zip

**/.idea