@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import 'base/all';
@import 'partials/v2/header';
@import 'partials/v2/footer';

.subhead {
  background: #112f53;
}

.entry-content{
  img{
    margin: 0 0 10px 10px;
  }
}

a{
  color: #0090dd;
  &:hover{
    text-decoration: none;
  }
}

.btn{
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  padding: 10px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  &-blue{
    background-color: #0090dd;
    color: #fff;
    &:hover{
      background-color: #112f53;
    }
  }
}