header {
  background-size: cover;
  color: $whiteColor;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;

    @media ($md) {
      font-size: 64px;
    }
  }

  p {
    @media ($md) {
      font-size: 30px;
    }
  }
}

.header-title {
  background: #000;
  color: $whiteColor;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.header-descr {
  background: url('../img/RDL_LAZY_CTP.jpg') center center;
  background-size: cover;
  background-attachment: fixed !important;
  padding: 40px 0;
  align-items: center;

  @media ($md) {
    padding: 80px 0;
  }
}
