//Fonts
$mainFont: 'Montserrat', sans-serif;

//Text color
$textColor: #2A3F57;
$whiteColor: #fff;
$redBg: #B81515;

//Media queries
$sm: 'min-width: 576px';
$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width: 1200px';
