//Fonts
$mainFont: 'Gilroy', serif;
$secondFont: 'CircularStd-Bold', sans-serif;

//Text color
$textColor: #2A3F57;
$whiteColor: #fff;
$questionColor: #4A61F7;

//Media queries
$sm: 'min-width: 576px';
$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width: 1200px';
