//Fonts
$mainFont: 'Gilroy', serif;
$secondFont: 'CircularStd-Bold', sans-serif;

//Сolors
$bodyBg: #494949;
$textColor: #2A3F57;
$whiteColor: #fff;
$titleColor: #e97205;
$questionColor: #4A61F7;
$grey: #ebebeb;

// Mobile Menu
$mobileMenuBg: #fff;

//Media queries
$xs: 'min-width: 480px';
$sm: 'min-width: 768px';
$ms: 'min-width: 1024px';
$md: 'min-width: 1280px';
$lg: 'min-width: 1440px';
$mg: 'min-width: 1680px';
